{% extends "base.html" %}
{% block title %}halaman{% endblock %}
{% block sidebar %}
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/dash">
              <i class="fa-solid fa-credit-card"></i>
              Rekening
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/transfer">
              <i class="fas fa-money-bill"></i>
              Transfer
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pembelian">
              <i class="fas fa-wallet"></i>
              Pembelian Go Pay
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/transaksi">
              <i class="fas fa-list"></i>
              Daftar Transaksi
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Pengaturan</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link active" href="/akun">
              <i class="fas fa-user"></i>
              Akun
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
{% endblock %}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom alert alert-secondary">
      <h1 class="h2">Informasi Akun</h1>
    </div>
    {% for akun in nasabah %}
    <div class="box-body table-responsive no-padding">
      <table class="table table-striped">
        <tr>
          <td width=125>ID</td>
          <td>: {{ akun.id }} </td>
        </tr>
        <tr>
          <td width=125>USERNAME</td>
          <td>: {{ akun.username }} </td>
        </tr>
        <tr>
          <td width=125>NAMA LENGKAP</td>
          <td>: {{ akun.nama }}</td>
          </tr>
        <tr>
          <td width=125>TEMPAT LAHIR</td>
          <td>: {{ akun.tempat_lahir }}</td>
        </tr>
        <tr>
          <td width=125>TANGGAL LAHIR</td>
          <td>: {{ akun.tanggal_lahir }}</td>
        </tr>
        <tr>
          <td width=125>JENIS KELAMIN</td>
          <td>: {{ akun.jenis_kelamin }}</td>
        </tr>
        <a href="/editakun/{{ nasabah.id }}" class="btn btn-primary mb-3"><i class="fas fa-plus-square"></i> Perbarui Data</a>
      </table>  
    </div>
    {% endfor %}
</main>
{% include 'modal_keluar.html' %}
{% endblock %}